@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Merriweather', serif;
}
body, html{
    width: 100%;
    height: 100%;
    background-color: #8e60aa;
}
div{
    padding: 0.5rem;
    margin-top: 0.5rem;
}
p{
    text-align: left;
}
h2{
    text-shadow: 1px 1px 1px #000;
}
ul{
    list-style-type: none;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
main > h1{
    font-size: 30px;
    font-weight: bolder
}
div.about_game{
    width: 70%;
    height: auto;
}
div.basic_rules{
    width: 70%;
    height: auto;
}
div.game_mechanics{
    width: 70%;
    height: auto;
}
div.game_results{
    width: 70%;
    height: auto;
}
a{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #230238;
    margin-bottom: 0.5em;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
a:hover{
    transition-duration: 0.5s;
    transition-delay: 3ms;
    transition-timing-function: ease-in-out;
    font-size: 14pt;
    background-color: #10011a;
}
